// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  color:black;
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:13px;
  margin:33px;
}
h1{
  font-weight:bold;
  margin:0.67em 0;
}
p{
  line-height:18px;
  margin:33px;
}
a{
  color:black;
}
a:hover{
  color:#fff;
  background-color:black;
}